/* ==== RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-hover: hsl(159, 48%, 42%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 96%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ==== */
html {
  scroll-behavior: smooth;
}

body {
  font: 300 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
}
.container {
  margin: auto;
  width: 1366px;
}

/* ==== header ==== */
.menu {
  padding: 0 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  width: 8rem;
  height: 5rem;
}

nav {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--title-color);

  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  opacity: 1;
  color: var(--text-color-hover);
}

/* ==== Banner ==== */
.banner {
  width: 100%;
  height: 100%;
}

/* ==== About ==== */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28rem;
  gap: 2rem;
}

.about-text {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;

  padding: 3.1rem;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  color: #54565b;
}

.about-text p {
  font-size: 1.1rem;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-img img {
  width: 100%;
  height: 100%;
}

/* ==== store ==== */
.title {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #54565b;
}

.video {
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
}
.video video {
  width: 100%;
  height: 30rem;
}
/*==== Products ====*/

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
}

.products img {
  width: 100%;
  height: 500px;
}
.products h4 {
  margin: 5px 0;
  font-size: 1.5rem;
  color: #54565b;
}
.products p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.products span {
  font-size: 1rem;
  color: #fc914a;
  margin-top: 10px;
}
